@font-face
{
  font-family : Raleway-Medium;
  src         : url("../fonts/Raleway-Medium.ttf");
}

/* Variables */

/* Main Colors */
$mainColor : #983B52;
$mainTextColor : #FFF;
$secondTextColor : #6C6C6C;

/* Screen Sizes */
$mediumScreen : 768px;
$largeScreen : 991px;

/* Global Style */
*
{
  font-family    : 'Raleway-Medium', sans-serif;
  text-transform : capitalize;
  box-sizing     : border-box;
  outline        : none;
  color          : $secondTextColor;
  line-height    : 1.6;
}

p
{
  margin-bottom : 0;
}

body
{
  background-color : $mainTextColor;
  /* Start Header Section*/
  .header
  {
	background-color : $mainColor;
	height           : 100vh;
	text-align       : center;
	position         : relative;
	.nav-bar
	{
	  .logo
	  {
		float      : left;
		text-align : left;
		i
		{
		  color         : $mainTextColor;
		  width         : 60px;
		  height        : 60px;
		  border-radius : 50%;
		  padding       : 10px;
		}
		h3
		{
		  display        : inline-block;
		  color          : $mainTextColor;
		  letter-spacing : 2px;
		}
	  }
	  .nav-bars
	  {
		float       : right;
		line-height : 76px;
		i
		{
		  color : $mainTextColor;
		}
	  }
	}
	.header-text
	{
	  h3
	  {
		color : $mainTextColor;
	  }
	  p
	  {
		color      : #D3D3D3;
		text-align : center;
		width      : 80%;
		margin     : auto;
		@media screen and (max-width : $mediumScreen)
		{
		  margin-top : 20px;
		  width      : 95%;
		  font-size  : 14px;
		}
	  }
	}
	.down-icon
	{
	  position       : absolute;
	  bottom         : 0;
	  left           : 0;
	  right          : 0;
	  padding-bottom : 25px;
	  cursor         : pointer;
	  span
	  {
		i
		{
		  width         : 50px;
		  height        : 50px;
		  border-radius : 50%;
		  border-color  : rgba(255, 255, 255, 0.25);
		  color         : $mainTextColor;
		}
	  }
	}
  }
  /* End Header Section*/

  /* Start Event Section*/
  .event-details
  {
	z-index : 2;

	.map-img
	{
	  position        : relative;
	  text-align      : center;
	  background      : url("../img/map.jpg") center no-repeat;
	  background-size : cover;
	  height          : 600px;
	  min-height      : 300px;
	  h3
	  {
		color            : $mainTextColor;
		padding          : 15px 0;
		position         : absolute;
		top              : 0;
		left             : 0;
		width            : 100%;
		background-color : rgba(152, 59, 82, 0.8);
	  }
	  img
	  {
		width : 100%;
	  }
	}
	.event-data
	{
	  display    : flex;
	  flex-wrap  : wrap;
	  background : linear-gradient(90deg, #863448 33.333%, #AA425C 66.666%, #C15F77 100%);
	  @media screen and (max-width : $mediumScreen)
	  {
		background : linear-gradient(180deg, #863448 33.333%, #AA425C 66.666%, #C15F77 100%);
	  }
	  .event-location
	  {
		flex      : 0 0 calc(100% / 3);
		max-width : calc(100% / 3);
		padding   : 30px;
		@media screen and (max-width : $mediumScreen)
		{
		  flex      : 0 0 100%;
		  max-width : 100%;
		}
		i
		{
		  color         : $mainTextColor;
		  width         : 60px;
		  height        : 60px;
		  line-height   : 40px;
		  border-radius : 50%;
		}
		p:first-of-type
		{
		  margin-top : 20px;
		}
		p
		{
		  color : $mainTextColor;
		}
	  }
	}
  }
  /* End Event Section*/

  /* Start Team Work Section */
  .team-work
  {
	overflow-x : hidden;
	/* Start Cookers Section */
	text-align : center;
	.cookers
	{
	  padding : 50px 0;
	  h3
	  {
		color         : $mainColor;
		margin-bottom : 30px;
	  }
	  .owl-carousel-row
	  {
		.owl-carousel
		{
		  .owl-prev, .owl-next
		  {
			position         : absolute;
			top              : 0;
			height           : 100%;
			background-color : transparent;
			border           : none;
			outline          : none;
			&:hover
			{
			  color : $mainColor;
			  i
			  {
				color : rgba(242, 53, 87, 0.5);
			  }
			}
			i
			{
			  font-size  : 2rem;
			  color      : $mainColor;
			  transition : color 0.2s ease-in-out;
			}
		  }
		  .owl-prev
		  {
			left : -16px;
		  }
		  .owl-next
		  {
			right : -16px;
		  }
		  .chef-member
		  {
			overflow         : hidden;
			border-radius    : 25px;
			min-height       : 520px;
			background-color : #E8E8E8;
			.img-con
			{
			  background-color : #F7F7F7;
			  padding-bottom   : 0.1rem;
			  img
			  {
				height        : 250px;
				border-radius : 25px;
			  }
			}
			.hf-con
			{
			  background-color : #F0F0F0;
			  h4
			  {
				border-radius    : 0 0 25px 25px;
				background-color : #F7F7F7;
				color            : $mainColor;
				margin-bottom    : 0;
				padding          : 15px 0;
			  }
			}
			p
			{
			  background-color : #F0F0F0;
			  border-radius    : 0 0 25px 25px;
			  color            : #6C6C6C;
			  padding          : 20px 25px;
			  text-align       : center;
			}
			.social-icons
			{
			  background-color : #E8E8E8;
			  border-radius    : 0 0 25px 25px;
			  padding          : 15px 0;
			  a
			  {
				text-decoration : none;
				display         : inline-block;
				margin          : 0 20px;
				&:hover
				{
				  i.fa-facebook-f
				  {
					color : #3B5998;
				  }
				  i.fa-twitter
				  {
					color : #1DA1F2;
				  }
				  i.fa-instagram
				  {
					color : #405DE6;
				  }
				}
				i
				{
				  color         : $mainColor;
				  border-color  : $mainColor;
				  border-radius : 50%;
				  font-size     : 20px;
				  width         : 35px;
				  height        : 35px;
				  line-height   : 25px;
				  transition    : color 0.2s ease-in-out;
				}
			  }
			}
		  }
		}
	  }
	}
	/* End Cookers Section */

	/* Start Waiters Section */
	.waiter
	{
	  overflow   : hidden;
	  text-align : center;
	  .waiter-skew
	  {
		padding          : 50px 0;
		width            : 110%;
		margin           : 40px -5%;
		transform        : rotate(-3deg);
		background-color : #F0F0F0;
		.waiter-org
		{
		  transform : rotate(3deg);
		  .container
		  {
			width : 88%;
			h3
			{
			  color         : $mainColor;
			  margin-bottom : 30px;
			}
			.owl-carousel-row
			{
			  .owl-carousel
			  {
				.owl-prev, .owl-next
				{
				  position         : absolute;
				  top              : 0;
				  height           : 100%;
				  background-color : transparent;
				  border           : none;
				  outline          : none;
				  &:hover
				  {
					color : $mainColor;
					i
					{
					  color : rgba(242, 53, 87, 0.5);
					}
				  }
				  i
				  {
					font-size  : 2rem;
					color      : $mainColor;
					transition : color 0.2s ease-in-out;
				  }
				}
				.owl-prev
				{
				  left : -16px;
				}
				.owl-next
				{
				  right : -16px;
				}
				.waiter-member
				{
				  overflow         : hidden;
				  border-radius    : 25px;
				  min-height       : 520px;
				  background-color : #E8E8E8;
				  .img-con
				  {
					background-color : #F7F7F7;
					padding-bottom   : 0.1rem;
					img
					{
					  height        : 250px;
					  border-radius : 25px;
					}
				  }
				  .hf-con
				  {
					background-color : #FFF;
					h4
					{
					  border-radius    : 0 0 25px 25px;
					  background-color : #F7F7F7;
					  color            : $mainColor;
					  margin-bottom    : 0;
					  padding          : 15px 0;
					}
				  }
				  p
				  {
					background-color : #FFF;
					border-radius    : 0 0 25px 25px;
					color            : #6C6C6C;
					padding          : 20px 25px;
					text-align       : center;
				  }
				  .social-icons
				  {
					background-color : #E8E8E8;
					border-radius    : 0 0 25px 25px;
					padding          : 15px 0;
					a
					{
					  text-decoration : none;
					  display         : inline-block;
					  margin          : 0 20px;
					  &:hover
					  {
						i.fa-facebook-f
						{
						  color : #3B5998;
						}
						i.fa-twitter
						{
						  color : #1DA1F2;
						}
						i.fa-instagram
						{
						  color : #405DE6;
						}
					  }
					  i
					  {
						color         : $mainColor;
						border-color  : $mainColor;
						border-radius : 50%;
						font-size     : 20px;
						width         : 35px;
						height        : 35px;
						line-height   : 25px;
						transition    : color 0.2s ease-in-out;
					  }
					}
				  }
				}
			  }
			}
		  }
		}
	  }
	}

	/* End Waiters Section */

	/* Start Managers Section */
	.managers
	{
	  padding : 50px 0;
	  h3
	  {
		color         : $mainColor;
		margin-bottom : 30px;
	  }
	  .owl-carousel-row
	  {
		.owl-carousel
		{
		  .owl-prev, .owl-next
		  {
			position         : absolute;
			top              : 0;
			height           : 100%;
			background-color : transparent;
			border           : none;
			outline          : none;
			&:hover
			{
			  color : $mainColor;
			  i
			  {
				color : rgba(242, 53, 87, 0.5);
			  }
			}
			i
			{
			  font-size  : 2rem;
			  color      : $mainColor;
			  transition : color 0.2s ease-in-out;
			}
		  }
		  .owl-prev
		  {
			left : -16px;
		  }
		  .owl-next
		  {
			right : -16px;
		  }
		  .manager-member
		  {
			overflow         : hidden;
			border-radius    : 25px;
			min-height       : 520px;
			background-color : #E8E8E8;
			.img-con
			{
			  background-color : #F7F7F7;
			  padding-bottom   : 0.1rem;
			  img
			  {
				height        : 250px;
				border-radius : 25px;
			  }
			}
			.hf-con
			{
			  background-color : #F0F0F0;
			  h4
			  {
				border-radius    : 0 0 25px 25px;
				background-color : #F7F7F7;
				color            : $mainColor;
				margin-bottom    : 0;
				padding          : 15px 0;
			  }
			}
			p
			{
			  background-color : #F0F0F0;
			  border-radius    : 0 0 25px 25px;
			  color            : #6C6C6C;
			  padding          : 20px 25px;
			  text-align       : center;
			}
			.social-icons
			{
			  background-color : #E8E8E8;
			  border-radius    : 0 0 25px 25px;
			  padding          : 15px 0;
			  a
			  {
				text-decoration : none;
				display         : inline-block;
				margin          : 0 20px;
				&:hover
				{
				  i.fa-facebook-f
				  {
					color : #3B5998;
				  }
				  i.fa-twitter
				  {
					color : #1DA1F2;
				  }
				  i.fa-instagram
				  {
					color : #405DE6;
				  }
				}
				i
				{
				  color         : $mainColor;
				  border-color  : $mainColor;
				  border-radius : 50%;
				  font-size     : 20px;
				  width         : 35px;
				  height        : 35px;
				  line-height   : 25px;
				  transition    : color 0.2s ease-in-out;
				}
			  }
			}
		  }
		}
	  }
	}
	/* End Managers Section */
  }
  /* End Team Work Section */

  /* Start Time Line Section */
  .timeline
  {
	background-color : #F8F8F8;
	text-align       : center;
	padding          : 50px 0;
	@media screen and (max-width : 425px)
	{
	  text-align : left;
	}
	h3
	{
	  color : $mainColor;
	}
	h3, h6
	{
	  text-align : center;
	}
	.timeline-inner
	{
	  padding  : 30px 0;
	  position : relative;
	  height   : 1000px;
	  .line-con
	  {
		position   : absolute;
		left       : 0;
		right      : 0;
		margin     : auto;
		text-align : center;
		z-index    : auto;
		@media screen and (max-width : 425px)
		{
		  left  : 14%;
		  right : auto;
		}
		@media screen and (max-width : 375px)
		{
		  left  : 16%;
		  right : auto;
		}
		@media screen and (max-width : 320px)
		{
		  left  : 19%;
		  right : auto;
		}
		p
		{
		  width            : 10px;
		  height           : 900px;
		  background-color : #E0E0E0;
		  border-radius    : 10px;
		  display          : inline-block;
		}
	  }
	  .timeline-details
	  {
		position : relative;
		.circle-con
		{
		  &:first-child
		  {
			margin-top : 45px;
		  }
		  .circle
		  {
			margin-bottom    : 50px;
			width            : 120px;
			height           : 120px;
			background-color : #F8F8F8;
			border           : 10px solid #E0E0E0;
			border-radius    : 50%;
			display          : inline-block;
			position         : relative;
			text-align       : center;
			p
			{
			  color     : $mainColor;
			  font-size : 18px;
			  &:first-of-type
			  {
				margin-top : 25px;
			  }
			}
		  }
		  &:nth-child(odd)
		  {
			.circle:after
			{
			  content          : "";
			  position         : absolute;
			  top              : 50px;
			  left             : 100px;
			  width            : 35vw;
			  height           : 10px;
			  background-color : #E0E0E0;
			  border-radius    : 10px;
			  @media screen and (max-width : 425px)
			  {
				width : 60vw;
			  }
			  @media screen and (max-width : 375px)
			  {
				width : 55vw;
			  }
			}
			.timeline-data
			{
			  position : absolute;
			  top      : 30px;
			  left     : 58%;
			  @media screen and (max-width : $mediumScreen)
			  {
				left : 60%;
			  }
			  @media screen and (max-width : 425px)
			  {
				left : 33%;
			  }
			  @media screen and (max-width : 425px)
			  {
				left : 38%;
			  }
			  @media screen and (max-width : 320px)
			  {
				left : 45%;
			  }
			}
		  }
		  &:nth-child(even)
		  {
			.circle:after
			{
			  content          : "";
			  position         : absolute;
			  top              : 50px;
			  right            : 100px;
			  width            : 35vw;
			  height           : 10px;
			  background-color : #E0E0E0;
			  border-radius    : 10px;
			  @media screen and (max-width : 425px)
			  {
				left  : 100px;
				width : 60vw;
			  }
			  @media screen and (max-width : 375px)
			  {
				width : 55vw;
			  }
			}
			.timeline-data
			{
			  position : absolute;
			  top      : 30px;
			  right    : 55%;
			  @media screen and (max-width : $mediumScreen)
			  {
				right : 58%;
			  }
			  @media screen and (max-width : 425px)
			  {
				left : 33%;
			  }
			  @media screen and (max-width : 425px)
			  {
				left : 38%;
			  }
			  @media screen and (max-width : 320px)
			  {
				left : 45%;
			  }
			}
		  }
		  position : relative;
		  .timeline-data
		  {
			text-align : left;
			color      : $mainColor;
			h4
			{
			  margin : 0;
			}
			p
			{
			  color      : $mainColor;
			  font-size  : 14px;
			  max-width  : 33vw;
			  margin-top : 20px;
			  @media screen and (max-width : 425px)
			  {
				width     : 55vw;
				max-width : 55vw;
			  }
			  @media screen and (max-width : 375px)
			  {
				width     : 50vw;
				max-width : 50vw;
			  }
			  @media screen and (max-width : 375px)
			  {
				width     : 46vw;
				max-width : 46vw;
			  }
			}
		  }
		}
	  }
	}
  }
  /* End Time Line Section */

  /* Start Videos Section */
  .Videos
  {
	padding    : 50px 0;
	text-align : center;
	h3
	{
	  color         : $mainColor;
	  margin-bottom : 30px;
	}
	img
	{
	  border        : 2px solid #E0E0E0;
	  padding       : 2px;
	  border-radius : 15px;
	}
  }
  /* End Videos Section */

  /* Start gallery Section */
  .gallery
  {
	overflow   : hidden;
	text-align : center;
	.gallery-skew
	{
	  padding          : 50px 0;
	  width            : 110%;
	  margin           : 40px -5%;
	  transform        : rotate(3deg);
	  background-color : #F0F0F0;
	  .gallery-org
	  {
		transform : rotate(-3deg);
		.container
		{
		  width : 88%;
		  h3
		  {
			color         : $mainColor;
			margin-bottom : 30px;
		  }
		  .gallery-con
		  {
			background-color : #F7F7F7;
			border-radius    : 15px;
			margin-bottom    : 50px;
			.img
			{
			  overflow      : hidden;
			  border-radius : 15px;
			  position      : relative;
			  &:hover
			  {
				.gallery-overly
				{
				  opacity : 1;
				}
			  }
			  img
			  {
				border-radius : 15px;
			  }
			  .gallery-overly
			  {
				position         : absolute;
				top              : 0;
				left             : 0;
				width            : 100%;
				height           : 100%;
				background-color : rgba(152, 59, 82, 0.6);
				opacity          : 0;
				transition       : 0.2s opacity ease-in-out;
				i
				{
				  cursor           : pointer;
				  font-size        : 35px;
				  width            : 50px;
				  height           : 50px;
				  line-height      : 50px;
				  background-color : #FFF;
				  color            : $mainColor;
				  border-radius    : 10px;
				  margin           : 50% 10px 0 10px;
				  transform        : translateY(-50%);
				  @media screen and (max-width : 425px)
				  {
					font-size   : 25px;
					width       : 40px;
					height      : 40px;
					line-height : 40px;
				  }
				}
			  }
			}

			h4
			{
			  color   : $mainColor;
			  padding : 10px 0;
			  @media screen and (max-width : 425px)
			  {
				font-size : 20px;
			  }
			}
		  }
		}
	  }
	}
  }
  /* End gallery Section */

  /* Start Footer Section */
  .footer
  {
	.footer-inner
	{
	  padding       : 50px 0;
	  border-bottom : 2px solid #E0E0E0;
	  .footer-links
	  {
		a
		{
		  color           : $secondTextColor;
		  text-decoration : none;
		  display         : inline-block;
		  transition      : 0.2s color ease-in-out;
		  padding         : 0;
		  @media screen and (max-width : 425px)
		  {
			font-size : 14px;
		  }

		  &:hover
		  {
			color : $mainColor;
		  }
		  &:not(:last-of-type)
		  {
			&:after
			{
			  content : "|";
			  margin  : 0 8px;
			  color   : #E0E0E0;
			  @media screen and (max-width : 425px)
			  {
				display : none;
			  }
			}
			@media screen and (max-width : 425px)
			{
			  margin-right : 3px;
			}
		  }
		}
	  }
	  i
	  {
		color         : $mainColor;
		width         : 60px;
		height        : 60px;
		border-radius : 50%;
		padding       : 10px;
	  }
	  span
	  {
		font-size : 25px;
	  }
	}
	.copyright
	{
	  text-align : center;
	  padding    : 30px 0;
	}
  }
  /* End Footer Section */
}